<h2>New Reminder</h2>

<form class="spec-new-reminder--form" {{action 'createReminder' on="submit"}}>
  <label>
    Title:
    {{input type="text" value=title class="spec-input-title"}}
  </label>
  <label>
    Date:
    {{input type="date" value=date class="spec-input-date"}}
  </label>
  <label>
    Notes:
    {{input type="text" value=notes class="spec-input-notes"}}
  </label>
  <button class="new-reminder--submit">Submit</button>
</form>

<div>
  {{#if isEditing}}

  <h2>Title{{input type='text' class='spec-edit-title' value=model.title}}</h2>
  <h3>Notes{{textarea class='spec-edit-notes'  value=model.notes}}</h3>
  <h3>Date{{input type='date' class='spec-edit-date' value=model.date}}</h3>
  <button class='save' {{action 'saveReminder' model on 'submit'}}>Save</button>

  {{else}}

    <h1 class='spec-reminder-title'>{{model.title}}</h1>
    {{#if model.notes}}
      <p class='spec-reminder-note'>{{model.notes}}</p>
    {{/if}}
    <p class='spec-reminder-date'>{{model.date}} </p>
    <button class='edit' {{action 'editReminder'}}>Edit</button>

  {{/if}}

</div>
