<h2>New Reminder</h2>

<form class="spec-new-reminder--form">
  <label>
    Title:
    {{input type="text" value=model.title class="spec-input-title"}}
  </label>
  <label>
    Date:
    {{bootstrap-datepicker value=model.date format="mm.dd.yy" class="spec-input-date"}}
  </label>
  <label>
    Notes:
    {{input type="text" value=model.notes class="spec-input-notes"}}
  </label>
  <button class="new-reminder--submit" {{action 'saveReminder' model on='click'}}>{{text}}</button>
  <button {{action "undo" model}} class="spec-revert-changes">
  {{text-rollback}}</button>
</form>
