<div>
  {{#if isEditing}}

  <h2>Title{{input class='spec-reminder-title' value=model.title}}</h2>
  <h3>Notes{{textarea value=model.notes}}</h3>
  <h3>Date{{input type=date value=model.date}}</h3>
  <button {{action 'saveReminder' model on 'submit'}}>Save</button>

  {{else}}

    <h1 class='spec-reminder-title'>{{model.title}}</h1>
    {{#if model.notes}}
      <p>{{model.notes}}</p>
    {{/if}}
    <p>{{model.date}}</p>
    <button {{action 'editReminder'}}>Edit</button>

  {{/if}}

</div>
